In [1]:
import pandas as pd
from pandas_datareader.data import get_data_yahoo

We're going to get price data of the following tickers.

IVV : S&P 500 ETF  
IDEV : International Developed Market ETF  
IUSB : Total USD Bond Market ETF  
IEMG : Emerging Markets ETF  
IAGG : International Aggregate Bond ETF  
IJH : S&P Mid-Cap ETF  
IJR : S&P Small-Cap ETF

In [2]:
data = get_data_yahoo(["IVV","IDEV","IUSB","IEMG","IAGG","IJH","IJR"], '2015-01-01', '2019-12-31')
data

Attributes   Adj Close                                              \
Symbols            IVV       IDEV       IUSB       IEMG       IAGG
Date
2014-12-31  183.877716        NaN  43.015728  40.448051        NaN
2015-01-02  183.753281        NaN  43.173847  40.069641        NaN
2015-01-05  180.526749        NaN  43.220840  39.459007        NaN
2015-01-06  178.900208        NaN  43.272114  39.252586        NaN
2015-01-07  181.113419        NaN  42.887550  40.061043        NaN
...                ...        ...        ...        ...        ...
2019-12-24  316.480499  56.514118  50.483654  52.225918  53.868710
2019-12-26  318.118591  56.915134  50.522446  52.637142  53.829487
2019-12-27  318.059723  56.983601  50.600044  52.862343  53.878517
2019-12-30  316.343201  56.699955  50.609741  52.490276  53.760860
2019-12-31  317.059235  56.895569  50.541851  52.637142  53.721634

Attributes                              Close                        ...  \
Symbols            IJH        IJR         IVV       IDEV       IUSB  ...
Date                                                                 ...
2014-12-31  131.819412  52.403717  206.869995        NaN  50.334999  ...
2015-01-02  131.628220  52.017788  206.729996        NaN  50.520000  ...
2015-01-05  129.652740  51.222954  203.100006        NaN  50.575001  ...
2015-01-06  128.214371  50.368393  201.270004        NaN  50.634998  ...
2015-01-07  129.953201  50.892155  203.759995        NaN  50.185001  ...
...                ...        ...         ...        ...        ...  ...
2019-12-24  202.210495  82.871719  322.649994  57.779999  52.049999  ...
2019-12-26  202.652832  82.763382  324.320007  58.189999  52.090000  ...
2019-12-27  202.318634  82.389114  324.260010  58.259998  52.169998  ...
2019-12-30  202.122009  82.339859  322.510010  57.970001  52.180000  ...
2019-12-31  202.318634  82.586090  323.239990  58.169998  52.110001  ...

Attributes       Open                            Volume                      \
Symbols          IAGG         IJH        IJR        IVV      IDEV      IUSB
Date
2014-12-31        NaN  146.740005  57.560001  5125200.0       NaN    2800.0
2015-01-02        NaN  145.600006  57.255001  3400900.0       NaN    1800.0
2015-01-05        NaN  143.630005  56.230000  9582600.0       NaN    4200.0
2015-01-06        NaN  142.679993  55.875000  8019900.0       NaN    1600.0
2015-01-07        NaN  141.850006  55.299999  3563300.0       NaN     200.0
...               ...         ...        ...        ...       ...       ...
2019-12-24  54.900002  205.919998  84.120003  2716300.0   18800.0  201700.0
2019-12-26  54.959999  205.970001  84.129997  2847400.0   45300.0  405200.0
2019-12-27  54.950001  206.690002  84.250000  5091400.0   74300.0  251500.0
2019-12-30  54.820000  205.880005  83.720001  3511400.0   42600.0  273600.0
2019-12-31  54.794998  205.160004  83.529999  3128900.0  202100.0  218200.0

Attributes
Symbols           IEMG      IAGG        IJH        IJR
Date
2014-12-31   1822100.0       NaN  1250500.0  3558600.0
2015-01-02   3759600.0       NaN  1115200.0  4261200.0
2015-01-05   2753500.0       NaN  1180500.0  3445400.0
2015-01-06   3063900.0       NaN  2261400.0  5321000.0
2015-01-07   2111400.0       NaN   805600.0  3437000.0
...                ...       ...        ...        ...
2019-12-24   5018500.0  613100.0   323700.0  1303300.0
2019-12-26   3877500.0  484800.0   373900.0  1725700.0
2019-12-27  13259700.0  160300.0  1058400.0  2179200.0
2019-12-30  16781700.0  165400.0  1292600.0  3056200.0
2019-12-31   7738800.0  180900.0  2260600.0  4094800.0

[1259 rows x 42 columns]

In [3]:
adj_close = data['Adj Close']
adj_close

Symbols,IVV,IDEV,IUSB,IEMG,IAGG,IJH,IJR
Date,,,,,,,
2014-12-31,183.877716,NaN,43.015728,40.448051,NaN,131.819412,52.403717
2015-01-02,183.753281,NaN,43.173847,40.069641,NaN,131.628220,52.017788
2015-01-05,180.526749,NaN,43.220840,39.459007,NaN,129.652740,51.222954
2015-01-06,178.900208,NaN,43.272114,39.252586,NaN,128.214371,50.368393
2015-01-07,181.113419,NaN,42.887550,40.061043,NaN,129.953201,50.892155
...,...,...,...,...,...,...,...
2019-12-24,316.480499,56.514118,50.483654,52.225918,53.868710,202.210495,82.871719
2019-12-26,318.118591,56.915134,50.522446,52.637142,53.829487,202.652832,82.763382
2019-12-27,318.059723,56.983601,50.600044,52.862343,53.878517,202.318634,82.389114
2019-12-30,316.343201,56.699955,50.609741,52.490276,53.760860,202.122009,82.339859
2019-12-31,317.059235,56.895569,50.541851,52.637142,53.721634,202.318634,82.586090

In [4]:
adj_close_returns = adj_close.pct_change().add_suffix("_return")
adj_close_returns

Symbols,IVV_return,IDEV_return,IUSB_return,IEMG_return,IAGG_return,IJH_return,IJR_return
Date,,,,,,,
2014-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-02,-0.000677,NaN,0.003676,-0.009355,NaN,-0.001450,-0.007365
2015-01-05,-0.017559,NaN,0.001088,-0.015239,NaN,-0.015008,-0.015280
2015-01-06,-0.009010,NaN,0.001186,-0.005231,NaN,-0.011094,-0.016683
2015-01-07,0.012371,NaN,-0.008887,0.020596,NaN,0.013562,0.010399
...,...,...,...,...,...,...,...
2019-12-24,0.000124,-0.003621,0.000769,-0.001684,0.001002,-0.000097,0.002741
2019-12-26,0.005176,0.007096,0.000768,0.007874,-0.000728,0.002188,-0.001307
2019-12-27,-0.000185,0.001203,0.001536,0.004278,0.000911,-0.001649,-0.004522
2019-12-30,-0.005397,-0.004978,0.000192,-0.007038,-0.002184,-0.000972,-0.000598
2019-12-31,0.002263,0.003450,-0.001341,0.002798,-0.000730,0.000973,0.002990

In [5]:
adj_close.to_csv("AdClosePrices.csv")
adj_close_returns.to_csv('AdCloseReturn.csv')