If you do not have pandas_datareader, please install by running the following code.

In [1]:
!pip install pandas_datareader

We will import 'get_data_yahoo' from 'pandas_datareader' data module.

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
from pandas_datareader.data import get_data_yahoo

The `get_data_yahoo()` method will fetch historical OHLC stock data from Yahoo Finance by parsing the web page. We specify the ticker and time range. The `now()` method from ‘datetime’ will return the current local date and time.

`get_data_yahoo()` requires tickers, start date, and end date. As an end date, we used the current date by using 'datetime.now()'

In [3]:
test = get_data_yahoo('QQQ', '2010-1-1', datetime.now()) 
test

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2009-12-31,46.279999,45.750000,46.259998,45.750000,50079200.0,40.970905
2010-01-04,46.490002,46.270000,46.330002,46.419998,62822800.0,41.570904
2010-01-05,46.500000,46.160000,46.389999,46.419998,62935600.0,41.570904
2010-01-06,46.549999,46.070000,46.400002,46.139999,96033000.0,41.320183
2010-01-07,46.270000,45.919998,46.209999,46.169998,77094100.0,41.347046
...,...,...,...,...,...,...
2021-03-09,313.730011,306.920013,307.470001,311.769989,80107600.0,311.769989
2021-03-10,316.470001,310.170013,316.160004,310.880005,76547300.0,310.880005
2021-03-11,319.859985,314.850006,315.769989,318.040009,53244500.0,318.040009
2021-03-12,318.230011,311.390015,313.859985,315.459991,69276600.0,315.459991
2021-03-15,319.000000,314.095001,315.790009,318.829987,40699167.0,318.829987

'get_data_yahoo' produce dataframe as below. Pay attention to the structure of the dataframe. It has all 'Adj Close' first for each ticker.

In [6]:
tickers = ["IVV","IDEV","IUSB","IEMG","IAGG","IJH","IJR"]
global_etf = get_data_yahoo(tickers, '2012-1-1', '2019-12-31')
global_etf

Attributes   Adj Close                                              \
Symbols            IVV       IDEV       IUSB       IEMG       IAGG
Date
2012-01-03  107.167709        NaN        NaN        NaN        NaN
2012-01-04  107.259796        NaN        NaN        NaN        NaN
2012-01-05  107.611389        NaN        NaN        NaN        NaN
2012-01-06  107.377014        NaN        NaN        NaN        NaN
2012-01-09  107.510925        NaN        NaN        NaN        NaN
...                ...        ...        ...        ...        ...
2019-12-24  316.480499  56.514118  50.483654  52.225918  53.868710
2019-12-26  318.118591  56.915134  50.522446  52.637142  53.829487
2019-12-27  318.059723  56.983601  50.600044  52.862343  53.878517
2019-12-30  316.343201  56.699955  50.609741  52.490276  53.760860
2019-12-31  317.059235  56.895569  50.541851  52.637142  53.721634

Attributes                              Close                        ...  \
Symbols            IJH        IJR         IVV       IDEV       IUSB  ...
Date                                                                 ...
2012-01-03   77.248146  30.605028  128.020004        NaN        NaN  ...
2012-01-04   77.030052  30.428633  128.130005        NaN        NaN  ...
2012-01-05   77.623268  30.609446  128.550003        NaN        NaN  ...
2012-01-06   77.562180  30.508009  128.270004        NaN        NaN  ...
2012-01-09   77.989662  30.631491  128.429993        NaN        NaN  ...
...                ...        ...         ...        ...        ...  ...
2019-12-24  202.210495  82.871719  322.649994  57.779999  52.049999  ...
2019-12-26  202.652832  82.763382  324.320007  58.189999  52.090000  ...
2019-12-27  202.318634  82.389114  324.260010  58.259998  52.169998  ...
2019-12-30  202.122009  82.339859  322.510010  57.970001  52.180000  ...
2019-12-31  202.318634  82.586090  323.239990  58.169998  52.110001  ...

Attributes       Open                            Volume                      \
Symbols          IAGG         IJH        IJR        IVV      IDEV      IUSB
Date
2012-01-03        NaN   89.599998  35.020000  7948100.0       NaN       NaN
2012-01-04        NaN   88.129997  34.529999  2542500.0       NaN       NaN
2012-01-05        NaN   87.900002  34.305000  3389700.0       NaN       NaN
2012-01-06        NaN   88.889999  34.669998  2787300.0       NaN       NaN
2012-01-09        NaN   89.349998  34.764999  3002500.0       NaN       NaN
...               ...         ...        ...        ...       ...       ...
2019-12-24  54.900002  205.919998  84.120003  2716300.0   18800.0  201700.0
2019-12-26  54.959999  205.970001  84.129997  2847400.0   45300.0  405200.0
2019-12-27  54.950001  206.690002  84.250000  5091400.0   74300.0  251500.0
2019-12-30  54.820000  205.880005  83.720001  3511400.0   42600.0  273600.0
2019-12-31  54.794998  205.160004  83.529999  3128900.0  202100.0  218200.0

Attributes
Symbols           IEMG      IAGG        IJH        IJR
Date
2012-01-03         NaN       NaN  2226200.0  6111800.0
2012-01-04         NaN       NaN   873600.0  3779000.0
2012-01-05         NaN       NaN  1335800.0  4720200.0
2012-01-06         NaN       NaN   850900.0  2388200.0
2012-01-09         NaN       NaN  1223500.0  3079800.0
...                ...       ...        ...        ...
2019-12-24   5018500.0  613100.0   323700.0  1303300.0
2019-12-26   3877500.0  484800.0   373900.0  1725700.0
2019-12-27  13259700.0  160300.0  1058400.0  2179200.0
2019-12-30  16781700.0  165400.0  1292600.0  3056200.0
2019-12-31   7738800.0  180900.0  2260600.0  4094800.0

[2012 rows x 42 columns]

We use `pct_change()` method to get daily return.

In [7]:
hist_return = global_etf['Adj Close'].pct_change()
hist_return

Symbols,IVV,IDEV,IUSB,IEMG,IAGG,IJH,IJR
Date,,,,,,,
2012-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-04,0.000859,NaN,NaN,NaN,NaN,-0.002823,-0.005764
2012-01-05,0.003278,NaN,NaN,NaN,NaN,0.007701,0.005942
2012-01-06,-0.002178,NaN,NaN,NaN,NaN,-0.000787,-0.003314
2012-01-09,0.001247,NaN,NaN,NaN,NaN,0.005511,0.004048
...,...,...,...,...,...,...,...
2019-12-24,0.000124,-0.003621,0.000769,-0.001684,0.001002,-0.000097,0.002741
2019-12-26,0.005176,0.007096,0.000768,0.007874,-0.000728,0.002188,-0.001307
2019-12-27,-0.000185,0.001203,0.001536,0.004278,0.000911,-0.001649,-0.004522
2019-12-30,-0.005397,-0.004978,0.000192,-0.007038,-0.002184,-0.000972,-0.000598
2019-12-31,0.002263,0.003450,-0.001341,0.002798,-0.000730,0.000973,0.002990

DataFrame has a `cov()` method that will return the DataFrame of covariance of columns.

In [9]:
hist_return_cov = hist_return.cov()
hist_return_cov

Symbols,IVV,IDEV,IUSB,IEMG,IAGG,IJH,IJR
Symbols,,,,,,,
IVV,0.000065,0.000050,-2.203952e-06,6.715897e-05,-0.000002,0.000066,0.000068
IDEV,0.000050,0.000053,-1.387950e-06,5.999208e-05,-0.000002,0.000049,0.000051
IUSB,-0.000002,-0.000001,3.987899e-06,-8.202842e-07,0.000002,-0.000003,-0.000003
IEMG,0.000067,0.000060,-8.202842e-07,1.207803e-04,-0.000001,0.000069,0.000070
IAGG,-0.000002,-0.000002,1.992607e-06,-1.082100e-06,0.000005,-0.000003,-0.000004
IJH,0.000066,0.000049,-2.597844e-06,6.880446e-05,-0.000003,0.000080,0.000084
IJR,0.000068,0.000051,-3.410843e-06,7.036246e-05,-0.000004,0.000084,0.000098

The `corr()` method will return correlation of columns.

In [10]:
hist_return_corr = hist_return.corr()
hist_return_corr

Symbols       IVV      IDEV      IUSB      IEMG      IAGG       IJH       IJR
Symbols
IVV      1.000000  0.829442 -0.132103  0.755313 -0.127700  0.920529  0.858642
IDEV     0.829442  1.000000 -0.115620  0.796034 -0.099467  0.771027  0.712270
IUSB    -0.132103 -0.115620  1.000000 -0.036657  0.503555 -0.145410 -0.170278
IEMG     0.755313  0.796034 -0.036657  1.000000 -0.044829  0.709004  0.650524
IAGG    -0.127700 -0.099467  0.503555 -0.044829  1.000000 -0.144412 -0.166088
IJH      0.920529  0.771027 -0.145410  0.709004 -0.144412  1.000000  0.950489
IJR      0.858642  0.712270 -0.170278  0.650524 -0.166088  0.950489  1.000000

'np's 'diag' method will take the elements of the matrix in diagonal.

In [11]:
annual_sd = pd.DataFrame(np.sqrt(np.diag(hist_return_cov)) * np.sqrt(250), tickers)
annual_sd

             0
IVV   0.127629
IDEV  0.115259
IUSB  0.031575
IEMG  0.173767
IAGG  0.034613
IJH   0.141100
IJR   0.156187

np.std() will return the standard deviation of specified column.
'dropna()' will drop missing values from the data.

In [12]:
np.std(hist_return['IDEV'].dropna()) * np.sqrt(250)

0.11517618457720198

Save historical return data.

In [13]:
hist_return.to_csv('hist_return.csv')